@using DataAccess.Enums

@model KullaniciKayitModel

@{
    ViewData["Title"] = "Kullanıcı Kayıt";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Kayit">
		@Html.AntiForgeryToken()
            @if (ViewBag.Mesaj != null)
            {
                <p class="text-danger">
                    @ViewBag.Mesaj
                </p>
            }
            <div class="row mb-3">
                <label asp-for="KullaniciAdi" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="KullaniciAdi" class="form-control" />
					<span asp-validation-for="KullaniciAdi" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="Sifre" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Sifre" class="form-control" type="password" />
					<span asp-validation-for="Sifre" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="SifreOnay" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="SifreOnay" class="form-control" type="password" />
					<span asp-validation-for="SifreOnay" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="KullaniciDetayi.Cinsiyet" class="col-2 col-form-label"></label>
				<div class="col-5" style="padding-top:7px;">
					<input asp-for="KullaniciDetayi.Cinsiyet" type="radio" value="@((int)Cinsiyet.Kadın)" checked /> @Cinsiyet.Kadın
                    &nbsp;
                    <input asp-for="KullaniciDetayi.Cinsiyet" type="radio" value="@((int)Cinsiyet.Erkek)" /> @Cinsiyet.Erkek
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="KullaniciDetayi.Eposta" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="KullaniciDetayi.Eposta" class="form-control" type="email" />
					<span asp-validation-for="KullaniciDetayi.Eposta" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="KullaniciDetayi.UlkeId" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <select asp-for="KullaniciDetayi.UlkeId" class="form-control" asp-items="ViewBag.UlkeId" id="ulkeler">
                        <option value="">-- Seçiniz --</option>
                    </select>
                    <span asp-validation-for="KullaniciDetayi.UlkeId" class="text-danger" id="ulkelermesaj"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="KullaniciDetayi.SehirId" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <select asp-for="KullaniciDetayi.SehirId" class="form-control" id="sehirler" asp-items="ViewBag.SehirId">
                        <option value="">-- Ülke Seçiniz --</option>
                    </select>
                    <span asp-validation-for="KullaniciDetayi.SehirId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="KullaniciDetayi.Adres" class="col-2 col-form-label"></label>
				<div class="col-5">
					<textarea asp-for="KullaniciDetayi.Adres" class="form-control" rows="3"></textarea>
					<span asp-validation-for="KullaniciDetayi.Adres" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Kaydet" class="btn btn-primary" />
                    &nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Temizle</button>
				</div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @* https://select2.org/ *@
    <link rel="stylesheet" href="/lib/select2/css/select2.min.css" />
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="/lib/select2/js/i18n/tr.min.js"></script>

    <script src="/lib/jquery-ajax-unobstrusive/jquery.unobstrusive-ajax.min.js"></script>

    <script>
        $(function(){
             // ajax: asynchronous javascript and xml, json: javascript object notification
             $("#ulkeler").off("change"); // daha önce tanımlanmış event'in kaldırılmasını sağlar
             $("#ulkeler").change(function() {
                $("#sehirler").empty();
                $("#ulkelermesaj").text("");
                var seciliUlkeId = $("#ulkeler").val();

                // === ve !== hem veri değerlerine hem de veri tiplerine bakar
                // == ve != sadece veri değerlerine bakar
                //if (seciliUlkeId == "") {
                if (seciliUlkeId === "") {
                    $("#ulkelermesaj").text("Lütfen ülke seçiniz...");
                    $("#sehirler").append('<option value="">-- Ülke Seçiniz --</option>');
                } else {

                    $.ajax({
                        cache: false,
                        // ASP.NET Core web uygulamalarında problem çıkarır, .NET Framework web uygulamalarında kullanılabilir.
                        //contentType: "application/json;charset=utf-8;",
                        dataType: "json",
                        // GET isteği 1. yöntem:
                        //url: "/SehirlerAjax/SehirlerGet/" + seciliUlkeId,
                        //type: "get",
                        // GET isteği 2. yöntem:
                        //url: "/SehirlerAjax/SehirlerGet",
                        //type: "get",
                        //data: { ulkeId: seciliUlkeId },
                        // POST isteği:
                        url: "/SehirlerAjax/SehirlerPost",
                        type: "post",
                        data: { ulkeId: seciliUlkeId },
                        success: function(sehirler) {
                            $("#sehirler").append('<option value="">-- Şehir Seçiniz --</option>');
                            for (var i = 0; i < sehirler.length; i++) {
                                $("#sehirler").append('<option value="' + sehirler[i].id + '">' + sehirler[i].adi + '</option>');
                            }
                        },
                        error: function() {
                            alert("AJAX isteği sonucunda hata meydana geldi!");
                        }
                    });
                    //$.getJSON(
                    //    //"/SehirlerAjax/SehirlerGet/" + seciliUlkeId, // GET isteği 1. yöntem
                        
                    //    "/SehirlerAjax/SehirlerGet", // GET isteği 2. yöntem
                    //    { ulkeId: seciliUlkeId },

                    //    function(sehirler) {
                    //        $("#sehirler").append('<option value="">-- Şehir Seçiniz --</option>');
                    //        for (var i = 0; i < sehirler.length; i++) {
                    //            $("#sehirler").append('<option value="' + sehirler[i].id + '">' + sehirler[i].adi + '</option>');
                    //        }
                    //    }
                    //);
                }
             });
        });
    </script>
}