@model IEnumerable<KullaniciModel>

@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Yeni Kullanıcı</a>
</p>

<partial name="_Sonuc" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RolAdiDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciDetayi.Eposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AktifDisplay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RolAdiDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciDetayi.Eposta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AktifDisplay)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a>&nbsp;|&nbsp;
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
